#tourheader-destinations {
  display: flex;
  width: 80%;
  height: 60px;
  margin: 10px auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.destination-card {
  display: flex;
  width: 200px;
  height: 90%;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 30px;
  border: 3px solid rgb(137, 137, 137);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-family: "titleBold";
  font-size: 120%;
}
.destination-card > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.destination-card:hover {
  background-color: var(--black);
  color: var(--light-grey);
}
#destination-header {
  width: 80%;
  height: 100px;
  margin: 50px auto;
  display: flex;
}

.destination-item1 {
  flex: 8;
  display: block;
}
.destination-item1 > h3 {
  font-family: "titleBold";
}
.destination-item2 > h3 {
  font-family: "titleBold";
}
.destination-item1 > p {
  font-family: "titleBold";
  font-size: 120%;
  color: rgb(123, 122, 122);
}
.destination-item2 {
  flex: 2;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.destination-item2 :hover {
  cursor: pointer;
  color: rgb(171, 226, 255);
}
.destination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid black;
}
.destination-button {
  margin: 0 10px;
}
#destination-next,
#destination-prev {
  font-size: 170%;
}
.destination-button :hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--light-grey);
}

#notFound-destination {
  font-family: "TitleBold";
  font-size: 20px;
  color: rgb(123, 122, 122);
}
