@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #000; /* nền đen */
  color: #fff; /* chữ trắng */
}
footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
footer .container .sec h2 {
  position: relative;
  color: #fff; /* chữ trắng */
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 20px;
}
footer .container .sec p {
  color: #fff; /* chữ trắng */
}
footer .container .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}
footer .container .sci li {
  list-style: none;
}
footer .container .sci li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #333;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
footer .container .sci li a i {
  color: #fff;
  font-size: 16px;
}
footer .container .quicklinks {
  position: relative;
}
footer .container .quicklinks ul li {
  list-style: none;
}
footer .container .quicklinks ul li a {
  color: #fff; /* chữ trắng */
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
footer .container .info {
  position: relative;
}
footer .container .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
footer .container .info li span {
  color: #fff; /* chữ trắng */
  font-size: 16px;
}
footer .container .contact .info li a {
  color: #fff; /* chữ trắng */
  text-decoration: none;
}
.copyrightText {
  width: 100%;
  background: #000; /* nền đen */
  padding: 20px 100px 30px;
  text-align: center;
  color: #fff; /* chữ trắng */
  border: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .copyrightText {
    padding: 20px 40px 30px;
  }
}
@media (max-width: 768px) {
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
