#pages {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}
#pages li {
  list-style-type: none;
  margin: 0 10px;
  display: flex;
  width: 20px;
  font-size: 120%;
  font-family: "TitleBold";
  color: rgb(162, 161, 161);
  justify-content: center;
  align-items: center;
}
#pages li:hover {
  cursor: pointer;
  font-style: bold;
}
