:root {
  --black: #101010;
  --white: #ffffff;
  --blue: #2986fe;
  --light-grey: #f9f9fb;
}

#hi {
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--blue);
  font-family: "TitleBold";
}
#footer {
  display: block;
  width: 100%;
  height: 10000px;
}
#html {
  position: relative;
}
#bot_activation {
  display: flex;
  width: 105px;
  height: 55px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: #e6f9ff;
  position: fixed;
  top: 80%;
  left: 3%;
  z-index: 1000;
  font-family: "TitleBold";
  font-style: italic;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Optional: Hover effect to add a more dynamic feel */
#bot_activation:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Slight lift effect on hover */
  cursor: pointer;
}
#bot_container {
  position: fixed;
  top: 37%;
  left: 17%;
  z-index: 1;
}

.custom-link {
  display: block;
  text-decoration: none; /* Removes the underline */
  color: inherit;
}
