#tourheader-container {
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: flex;
}

.tourheader-item1 {
  flex: 5;
  display: block;
}
.tourheader-item1 > h3 {
  font-family: "titleBold";
}
.tourheader-item1 > p {
  font-family: "titleBold";
  font-size: 120%;
  color: rgb(123, 122, 122);
}
.tourheader-item2 {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-bar {
  width: 100%;
  padding: 10px 40px 10px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-family: "Regular";
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

#search-bar:hover {
  cursor: pointer;
  border-color: #888;
}

#search-bar:focus {
  border-color: #a5d0ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
